.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #6761613f;
  background: radial-gradient(circle at top,  #020617);
  padding: 2rem;
  overflow: hidden;

  color: #fff;
  min-height: 220px;

  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.796);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before {
  opacity: 0.6;
}
